# Python
venv/
venv311/
__pycache__/
*.pyc
*.pyo
.env

# Model (trop lourd pour GitHub)
backend/model/*.pth

# Next.js
frontend/node_modules/
frontend/.next/
frontend/out/

# OS
.DS_Store
Thumbs.db

# Base de données
*.sqlite3
