DJANGO_SECRET_KEY=radisense-secret-key-2024
DEBUG=True
MODEL_PATH=model/fracture_model_final.pth

# Gemini Flash API
GEMINI_API_KEY=AQ.Ab8RN6IrMmPiZd3MwExcRuf6oEUDJRHj2xF6CRFZ0jYGi4khzQ

# Arize Phoenix
PHOENIX_API_KEY=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJqdGkiOiJBcGlLZXk6MiJ9.2T3Gnbm7LP81eouUkWhpPn0Lr3gEVGhx_SafYpcyLtY
PHOENIX_COLLECTOR_ENDPOINT=https://app.phoenix.arize.com