# ── Variables d'environnement — Fracture Detection Backend ──
# Copier ce fichier en .env et remplir les valeurs

# Django
DJANGO_SECRET_KEY=remplace-par-une-cle-secrete-longue-et-aleatoire
DEBUG=True


# Après l'entraînement Colab, place le fichier dans backend/model/
MODEL_PATH=model/fracture_model_final.pth
