DJANGO_SECRET_KEY=radisense-secret-key-2024
DEBUG=True
MODEL_PATH=model/fracture_model_final.pth

# Gemini Flash API
GEMINI_API_KEY=my cle

# Arize Phoenix
PHOENIX_API_KEY=my api
PHOENIX_COLLECTOR_ENDPOINT=https://app.phoenix.arize.com
