Django==5.2.14
djangorestframework==3.16.0
django-cors-headers==4.7.0
python-dotenv==1.1.0
Pillow==11.2.1
numpy==2.2.6
opencv-python-headless==4.10.0.84
scikit-learn==1.6.1
whitenoise==6.9.0
gunicorn==23.0.0
google-genai==1.16.1
arize-phoenix-otel==0.8.1
openinference-instrumentation-google-genai==0.1.17
opentelemetry-sdk==1.33.0
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.1.0+cpu
torchvision==0.16.0+cpu